sistema-votaciones/storage/framework/views/**
sistema-votaciones/node_modules/**
sistema-votaciones/resources/logs/**
sistema-votaciones/bootstrap/cache/**
sistema-votaciones/resources/framework/views/*.php
